<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach(function(e) { %>
    <div class="post">
        <h3> <%= e.postTitle %> </h3>
        <p> 
          <%= e.postBody.substring(0, 100) + "..."; %> <a href="/posts/<%=e._id %>"" >Read More</a> 
          <input type="hidden" value="<%=e._id %>" name="postID">
        </p>
    </div>
<% }); %>

<%- include('partials/footer'); -%>